#container {
    margin-top: 50px;
}



ul.header li{
    display:inline;
    list-style-type: none;
    margin:0;
}

ul.header{
    padding: 0;
}
ul.header li a{
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display:inline-block;
}

#content {
    margin-top: 50px;
}
